.bar-btn {
	top: 0;
	display: table;
	width: 100%;
	padding:0;
	table-layout: fixed;
	border-top: 0;
	border-bottom: 0;
	-webkit-touch-callout: none;
	background: #FFFFFF;
}

.bar-btn button.btn-item {
	background: none;
	border: none;
	width: 33.3%;
	height: auto;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.bar-btn .btn-item>div {
	display: inline-block;
}

.bar-btn .btn-item>div .icon {
	height: 60px;
	width: 60px;
	background: #f6f6f6;
	border-radius: 10px;
	position: relative;
}

.bar-btn .btn-item>div .icon>span {
	/*color: #4e4e4e;*/
	color: #3aa8fd;
	font-size: 32px;
	text-align: center;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
}

.bar-btn .btn-item>div .label {
	margin-top: 2px;
	display: block;
	width: 60px;
	font-size: 13px;
	color: #999999;
}


/*首页顶部3按钮*/
.home-top-btn{
	top: 0;
	display: table;
	width: 100%;
	padding:0 0 4px 0;
	table-layout: fixed;
	border-top: 0;
	border-bottom: 0;
	-webkit-touch-callout: none;
	background: #FFFFFF;
}

.home-top-btn .home-top-btn-item {
	display: table-cell;
	overflow: hidden;
	width: 1%;
	text-align: center;
	position: relative;
	white-space: nowrap;
	text-overflow: ellipsis;
	color: #BFBFBF
}
.home-top-btn .home-top-btn-item .home-icon {
	width: 100%;
	display: block;
	line-height: 50px;
	height: 50px;
	font-size:30px;
	text-shadow:1px 2px 4px rgba(0, 0, 0, .3);
	/*text-shadow: 2px 2px 10px rgba(0, 0, 0, .3)*/
}
.home-top-btn .home-top-btn-item .home-icon~.home-top-btn-label {
	width: 100%;
	font-size: 12px;
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	color: #666666;
}
.home-top-btn .home-top-btn-item .home-icon:active {
	background: 0 0
}
/*轮播图*/
.mui-slider .mui-slider-group .mui-slider-item img {
    width: 50px;
}
.mui-slider .mui-slider-group .mui-slider-item>a:not(.mui-control-item){
	display: flex;
}

/*订单卡片*/
.home-card{
	height: 110px;
	 display: flex; 
	 
	margin-bottom: 8px;
	background: #FFFFFF;
	margin-left: 10px;
	margin-right: 10px;
	border-radius:  2px;
	overflow: hidden;
	/*box-shadow: 0 1px 2px rgba(0, 0, 0, .3);*/
	box-shadow:0px 0px 10px 0px #ddd;
	 /*box-shadow: inset -1px 0px 20px 0px #CCCCCC;*/
}
.home-card-left{
	height: auto;
	width: 80px;
	position: absolute;
}
.home-card-left span{
	position: absolute;
	font-size: 12px;
	height:20px;
	line-height: 20px;
	padding-left: 5px;
	border-radius: 0 20% 20% 0;
	width: 35px;
	left: 0px;
	top: 16px;
	/*background: #0062CC;*/
	background: #039CFC;
	color: #FFFFFF;
}
.home-card-left img{
	margin-top:16px;
	margin-left: 16px;
	width: 50px;
	display: block;
}
.home-card-left p{
	font-size: 14px;
	width: 100%;
	height: 20px;
	line-height: 20px;
	text-align: center;
	margin-top: 6px;
	display: block;
}
.home-card-right{
	width: 100%;
	height: auto;
	padding: 8px;
	padding-left: 80px;
	padding-right: 16px;
	margin-top: auto;
	margin-bottom: auto;
	line-height: normal;
	
}
.home-card-right h5{
	color:#333333;
	/*height: 44px;*/
	width: 100%;
	line-height: 22px;
	font-size: 16px;
	margin-bottom: 4px;
}
.home-card-right p{
	width: 100%;
	padding: 1px;
	margin: 0;
	margin-bottom: 0px;
}
.home-card-right p span{
	font-size: 13px;
	color: #666666;
}
.home-card-right p .reward{
	color: red;
	font-size: 16px;
	margin-right: 30px;
}

.mui-table-view:after{
	height: 0;
}
.mui-table-view-cell:after{
	height: 0;
	content: '';
}

/*最急卡片*/
.mui-table-view{
	background: #FFFFFF;
	/*background:transparent;*/
	margin-top: 10px;
	margin-bottom: 10px;
	padding-bottom: 10px;
}
.mui-table-view .mui-table-view-cell.mui-media{
	overflow: visible;
	/*margin:8px 16px;*/
	padding: 0;
	background: none;
}

.mui-table-view-cell.mui-media>a:not(.mui-btn){
	margin:5px 10px 5px 10px;
	padding: 8px;
}

.mui-table-view-cell.mui-media>a:not(.mui-btn) h4{
	font-weight: 600;
	padding: 2px 0;
}
.pay{
	position: absolute;
	right:16px;
	bottom: 8px;
}
.pay span{
	font-size: 15px;
}
.pay i{
	color: red;
	font-size: 18px;
	margin-right: 10px;
}
.head-img{
	border-radius: 50%;
}

.mui-ellipsis{
	/*overflow: visible;*/
}
/**/
.mui-slider-item .home-card{
	margin:0 10px 4px 10px;
}
/*横向滚动 热门分类 */
.assortment_scroll.mui-segmented-control.mui-segmented-control-inverted{
	background: #FFFFFF;
	height: 150px;
	overflow:hidden;
}
.assortment_scroll.mui-segmented-control.mui-segmented-control-inverted .mui-scroll{
	height: auto;
	width: 1500px;
}
.assortment_scroll.mui-segmented-control.mui-segmented-control-inverted 
.mui-control-item{
	width: 150px;
	height: 60px;
	background: #F2F2F2;
	border-radius:  4px;
	margin: 10px;
	float: left;
	color: #3aa8fd;
}
.assortment_scroll.mui-segmented-control.mui-segmented-control-inverted 
.mui-control-item.mui-active{
	border: none;
}
/*无内容提示*/
.noConent{
	width: 100%;
}
.noConent h4{
	height: 80px;
	width:calc(100%-20px) ;
	border-radius: 5px;
	margin: 10px;
	background: #F2F2F2;
	line-height: 80px;
	text-align: center;
	font-weight: 600;
	color: #666666;
	font-size: 16px;
}
