
    @font-face {font-family: "iconfont";
	  src:url('../fonts/iconfont.ttf') format('truetype'); /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
	  
  }
  @font-face {font-family: "iconfont";
	src:url('../fonts/iconfont1.ttf') format('truetype'); /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
	
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:24px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon-pinglun:before { content: "\e62f"; }

.icon-xihuan:before { content: "\e76a"; }

.icon-zhuanfa:before { content: "\e70d"; }



.icon-tianjia1:before { 
	font-size: 40px;
	content: "\e616"; 
}
.icon-tianjia:before { 
	content: "\e6b9"; 
	font-size: 40px;
}

.icon-xiaoxi:before { content: "\e612"; }

.icon-shouye1:before { content: "\e610"; }

.icon-wode:before { content: "\e6c0"; }

.icon-sheququan:before { content: "\e617"; }

/**/
.icon-sousuo:before { content: "\e6c3";font-size: 25px; }

.icon-paixing1:before { content: "\e641"; font-size: 25px;}

.icon-paixing:before { content: "\e6ff"; font-size: 25px;}

.icon-sousuo1:before { content: "\e606"; font-size: 25px;}

.icon-leimupinleifenleileibie:before { content: "\e60d";font-size: 25px; }

.icon-leimupinleifenleileibie1:before { content: "\e600"; font-size: 25px;}


