.unlogin{
	width: 100%;
	background: none;
	margin-bottom: 10px;
}
.unlogin li{
	background: #ffffff;
}
.unlogin *{
	vertical-align: middle;
	font-size: 15px;
}
.unlogin li h4,.logined li h4{
	font-size: 16px;
	font-weight: 700;
}

.head-img{
	border-radius:  50%;
}
.mui-table-view .mui-media-object{
	max-width: 80px;
	max-height: 80px;
	height: 50px;
	width: 50px;
}
/**/
.top_bg{
	width: 100%;
	height: 80px;
	position: absolute;
	top: 0;
	/*background: #F0AD4E;*/
	/*background: #f5dc85;*/
	background: #FFFFFF;
}
/**/
.logined{
	margin: 10px;
	border-radius:  6px;
	box-shadow:0px 0px 20px 3px #ddd;
}

.account{
	height: 70px;
	background: #FFFFFF;
	margin-bottom:8px;
	margin-top: 8px;
	padding: 15px;
	padding-bottom: 8px;
	padding-top: 8px;
	display: table;
	width: 100%;
	/*box-shadow: 0 1px 2px rgba(0, 0, 0, .3);*/
}
.account>div{
	display: table-cell;
	width:1%;;
}
.account>div:active{
	background: #eee;
}
.account div h5{
	text-align: center;
	line-height: 20px;
	font-size: 12px;
	color: #999999;
}
.account div h4{
	color: #199ED8;
	text-align: center;
}

.mui-table-view{
	/*box-shadow: 0 1px 2px rgba(0, 0, 0, .3);*/
}

.mui-table-view-cell>a:not(.mui-btn){
	/*padding-left: 45px;*/
}
.iconleft{
    line-height: 1;
    position: relative;
    display: inline-block;
    color: #999999;
    font-size: 22px;
}
.mui-table-view-cell:after{
	transform: scaleY(0.25);
	left: 40px;
	right: 0;
}
.logined .mui-table-view-cell:after{
	left: 15px;
	right: 15px;
}


