.mui-segmented-control.mui-segmented-control-inverted .mui-control-item{
	color: #999999;
}
.mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active{
	font-weight: 700;
	color: #1296DB;
}

.mui-slider-indicator.mui-segmented-control{
	background: #FFFFFF;
}
.mui-table-view{
	background: none;
}
.none_display{
	width: 100%;
	background: none;
	text-align: center;
	vertical-align: middle;
	margin-top: 80px;
	color: #999999;
}

.messgae,.mui-table-view-cell{
	background: #FFFFFF;
}
.mui-table-view-cell:last-child:after, .mui-table-view-cell:last-child:before{
	height: 1px;
}
