<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="css/mui.min.css" rel="stylesheet" />
		<link href="css/app.css" rel="stylesheet" />
		<link href="css/iconfont.css" rel="stylesheet" />
		<link href="css/app.css" rel="stylesheet" />
		<link href="css/home-assortment.css" rel="stylesheet" />
	</head>

	<body>
			<!--主界面-->
			<!--<div id="home-assortment">-->
				<header class="mui-bar mui-bar-nav">
					<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
					<h1 class="mui-title">分类</h1>
				</header>
				<!--横向分类-->
				<div id="assortment_list" class="assortment_list_scroll mui-scroll-wrapper mui-slider-indicator 
					mui-segmented-control mui-segmented-control-inverted">
					<div class="mui-scroll">
						<a class="mui-control-item mui-active">
							<h5>全部</h5>
						</a>
						<a class="mui-control-item" v-for="item in assortment_datalist">
							<h5>{{item.title}}</h5>
						</a>
					</div>
					<a id="more" @tap.stop.prevent='openMenu'>
						<i class="mui-pull-right iconfont icon-shaixuan02" style=""></i>
					</a>
				</div>
				<div id="pullRefresh" class="mui-content mui-scroll-wrapper">
					<div class="mui-scroll">
						<p class="UIAlertView">
							<span class="iconfont icon-wancheng1"></span>
							<span>已为你更新任务</span>
						</p>
						<ul class="mui-table-view mui-table-view-chevron">
							<div class="noConent" v-if="!isListHasConent">
								<h4>暂时没有内容，刷新试试？</h4>
							</div>
							<li class="mui-table-view-cell mui-media" v-for="item in list" v-if="isListHasConent">
								<a @tap='open_detail(item)' class="mui-navigate-right home-card">
									<h4 class="mui-ellipsis">{{item.title}}</h4>
									<h6>截止至 {{item.published_at}}</h6>
									<div>
										<img class="mui-media-object mui-pull-left head-img" src="images/u445.png">
										<div class="mui-media-body">
											<h5>
												hello解忧
											</h5>
											<h6 class='mui-ellipsis'>1小时前</h6>
										</div>
										<div class="pay">
											<span>赏金：</span>
											<i>10￥</i>

										</div>
									</div>
								</a>
							</li>
						</ul>

					</div>
				</div>

			<!--</div>-->
		<script src="js/mui.min.js"></script>
		<script src="js/jquery-1.11.3.min.js"></script>
		<script src="js/vue.min.js"></script>
		<script src="js/common.js"></script>
		<script src="js/home-assortment.js"></script>
		<script>
			
		</script>
		
	</body>

</html>