<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="css/mui.min.css" rel="stylesheet" />
		<link href="css/iconfont.css" rel="stylesheet" />
		<link href="css/wode.css" rel="stylesheet" />
	</head>

	<body>
		<div id="wode" class="mui-content mui-scroll-wrapper detail-content">
			<div class="mui-scroll">
				<div class="top_bg"></div>
				<!--未登录显示-->
				<ul class="mui-table-view mui-table-view-chevron unlogin" v-if="isLogout">
					<li class="mui-table-view-cell mui-media">
						<a @tap='goto_login' class="mui-navigate-right">
							<img class="mui-media-object mui-pull-left head-img" src="images/touxiangdefault.png">
							<div class="mui-media-body">
								<h4>
									立即登录
								</h4>
								<p class='mui-ellipsis'>有解忧，不烦恼！</p>
							</div>
						</a>
					</li>
				</ul>
				<!--已登录显示-->
				<ul class="mui-table-view mui-table-view-chevron logined"  v-if="isLogin">
					<li class="mui-table-view-cell mui-media">
						<a @tap='goto_perPage' class="mui-navigate-right">
							<img class="mui-media-object mui-pull-left head-img" :src="userInfo.imgUrl"  onerror="this.onerror=null; this.src='images/touxiangboy.png'">
							<div class="mui-media-body">
								<h4>
									<span>{{userInfo.nickname}}</span>
									<span @tap.stop="goto_perData" class="mui-icon mui-icon-compose" 
									style="color: #0062CC;font-weight: bold;margin-left: 4px;<br />"></span>
								</h4>
								<p class='mui-ellipsis'>{{userInfo.signature}}</p>
							</div>
						</a>
					</li>
					<div class="account">
						<div>
							<h5>信誉积分</h5>
							<h4>0</h4>
						</div>
						<div style="border-left: 1px #EEE solid;border-right: 1px #EEE solid;">
							<h5>获赞数</h5>
							<h4>0</h4>
						</div>
						<div>
							<h5>公益金额</h5>
							<h4>0</h4>
						</div>
					</div>
				</ul>

				<ul class="mui-table-view">
					<li class="mui-table-view-cell">
						<a @tap="goto_assigment" class="mui-navigate-right">
							<i class="iconfont icon-renwu1 iconleft" style="color: #F4D03E;"></i>
							我的任务
						</a>
					</li>
					<li class="mui-table-view-cell">
						<a @tap="goto_purse" class="mui-navigate-right">
							<i class="iconfont icon-qianbao iconleft" style="color: #ff1c69;"></i> 我的钱包
						</a>
					</li>
					<li class="mui-table-view-cell">
						<a @tap="goto_bill" class="mui-navigate-right">
							<i class="iconfont icon-zhangdan iconleft" style="color: #1a6bfe;"></i> 公益账单
						</a>
					</li>

				</ul>
				<ul class="mui-table-view">
					<li class="mui-table-view-cell" style="margin-top: 8px;">
						<a @tap="goto_shoucang" class="mui-navigate-right">
							<i class="iconfont icon-pinglun1 iconleft" style="color: #dbab6c;"></i> 我的评论
						</a>
					</li>
					<li class="mui-table-view-cell">
						<a @tap="goto_pinglun" class="mui-navigate-right">
							<i class="iconfont icon-shoucang iconleft" style="color: #56cda5;"></i>
							我的收藏
						</a>
					</li>
				</ul>
			</div>
		</div>

		<script src="js/mui.min.js"></script>
		<script src="js/vue.min.js"></script>
		<script src="js/common.js"></script>
		<script src="js/wode.js"></script>
		<script type="text/javascript">
			mui.init();
			//初始化scroll区域
			(function($) {
				$(".mui-scroll-wrapper").scroll({
					indicators: false, //是否显示滚动条,默认是true
				});
			})(mui);
			
		</script>
	</body>

</html>