<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="css/mui.min.css" rel="stylesheet" />
		<link href="css/assigment.css" rel="stylesheet" />
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">任务</h1>

			<h5 id="segmentedControl" class="mui-segmented-control title-tab">
				<a class="mui-control-item mui-active" href="#page1">帮我</a>
				<a class="mui-control-item" href="#page2">帮TA</a>
			</h5>
		</header>
		<div id="assigment">

			<!--帮我页面 --page1-->
			<div id="page1" class="mui-control-content mui-active mui-fullscreen">
				<div id="page1_slider" class="mui-slider">
					<div id="sliderSegmentedControl" class="mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
						<a class="mui-control-item mui-active" href="#page1_item1">
							正在进行
						</a>
						<a class="mui-control-item" href="#page1_item2">
							未接单
						</a>
						<a class="mui-control-item" href="#page1_item3">
							已完成
						</a>
					</div>
					<!--div id="sliderProgressBar" class="mui-slider-progress-bar mui-col-xs-4">
			</div>-->
					<div class="mui-slider-group">
						<div id="page1_item1" class="mui-slider-item mui-control-content mui-active ">
							<div id="page1_scroll1" class="mui-scroll-wrapper ">
								<ul class="mui-table-view mui-table-view-chevron mui-scroll">
									<div class="noConent" v-if="!isL1_01HasConent">
										<h4>暂时没有任务</h4>
									</div>
									<li class="mui-table-view-cell mui-media" v-for="item in list0101" v-if="isL1_01HasConent">
										<a class="mui-navigate-right card">
											<h4 class="mui-ellipsis">{{item.content}}</h4>
											<h6>截止至 {{item.expiretime}}</h6>
											<div>
												<img id="head-img" class="mui-media-object mui-pull-left 
										head-img" src="images/touxiangdefault.png">
												<div class="mui-media-body">
													<h5>
													{{item.uid}}
												</h5>
													<h6 class='mui-ellipsis'>发布于{{item.crttime}}</h6>
												</div>

												<div class="pay">
													<span>赏金：</span>
													<i>{{item.price}}金币</i>
													<button @tap="" type="button" class="mui-btn mui-btn-danger mui-btn-outlined">
														支付
													</button>
												</div>

											</div>

										</a>
									</li>
								</ul>
							</div>
						</div>
						<div id="page1_item2" class="mui-slider-item mui-control-content">
							<div id="page1_scroll2" class="mui-scroll-wrapper">

								<ul class="mui-table-view mui-table-view-chevron mui-scroll">
									<div class="noConent" v-if="!isL1_02HasConent">
										<h4>暂时没有任务</h4>
									</div>

									<li class="mui-table-view-cell mui-media" v-for="item in list0102" v-if="isL1_02HasConent">
										<a class="mui-navigate-right card">
											<h4 class="mui-ellipsis">{{item.content}}</h4>
											<h6>截止至 {{item.expiretime}}</h6>
											<div>
												<img id="head-img" class="mui-media-object mui-pull-left 
										head-img" src="images/touxiangdefault.png">
												<div class="mui-media-body">
													<h5>
													{{item.uid}}
												</h5>
													<h6 class='mui-ellipsis'>发布于{{item.crttime}}</h6>
												</div>

												<div class="pay">
													<span>赏金：</span>
													<i>{{item.price}}金币</i>
												</div>
											</div>
										</a>
									</li>

								</ul>
							</div>
						</div>
						<div id="page1_item3" class="mui-slider-item mui-control-content">
							<div id="page1_scroll3" class="mui-scroll-wrapper">
								<ul class="mui-table-view mui-table-view-chevron mui-scroll">
									<div class="noConent" v-if="!isL1_03HasConent">
										<h4>暂时没有任务</h4>
									</div>
									<li class="mui-table-view-cell mui-media" v-for="item in list0103" v-if="isL1_03HasConent">
										<a class="mui-navigate-right card">
											<h4 class="mui-ellipsis">{{item.content}}</h4>
											<h6>截止至 {{item.expiretime}}</h6>
											<div>
												<img id="head-img" class="mui-media-object mui-pull-left 
										head-img" src="images/touxiangdefault.png">
												<div class="mui-media-body">
													<h5>
													{{item.uid}}
												</h5>
													<h6 class='mui-ellipsis'>发布于{{item.crttime}}</h6>
												</div>

												<div class="pay">
													<span>赏金：</span>
													<i>{{item.price}}金币</i>
												</div>
											</div>
										</a>
									</li>

								</ul>
							</div>
						</div>

					</div>
				</div>
			</div>

			<!--帮TA页面 --page2-->
			<div id="page2" class="mui-control-content  mui-fullscreen">
				<div id="page2_slider" class="mui-slider">
					<div id="sliderSegmentedControl2" class="mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
						<a class="mui-control-item mui-active" href="#page2_item1">
							正在进行
						</a>
						<a class="mui-control-item" href="#page2_item2">
							已完成
						</a>
						<a class="mui-control-item"></a>
					</div>
					<!--				<div id="sliderProgressBar2" class="mui-slider-progress-bar mui-col-xs-4"></div>
-->
					<div class="mui-slider-group">
						<div id="page2_item1" class="mui-slider-item mui-control-content mui-active">
							<div id="page2_scroll1" class="mui-scroll-wrapper ">
								<ul class="mui-table-view mui-table-view-chevron mui-scroll">
									<div class="noConent" v-if="!isL2_01HasConent">
										<h4>暂时没有任务</h4>
									</div>
									<li class="mui-table-view-cell mui-media" v-for="item in list0201" v-if="isL2_01HasConent">
										<a class="mui-navigate-right card">
											<h4 class="mui-ellipsis">{{item.content}}</h4>
											<h6>截止至 {{item.expiretime}}</h6>
											<div>
												<img id="head-img" class="mui-media-object mui-pull-left 
										head-img" src="images/touxiangdefault.png">
												<div class="mui-media-body">
													<h5>
													{{item.uid}}
												</h5>
													<h6 class='mui-ellipsis'>发布于{{item.crttime}}</h6>
												</div>

												<div class="pay">
													<span>赏金：</span>
													<i>{{item.price}}金币</i>
												</div>
											</div>
										</a>
									</li>

								</ul>
							</div>
						</div>
						<div id="page2_item2" class="mui-slider-item mui-control-content">
							<div id="page2_scroll2" class="mui-scroll-wrapper">
								<ul class="mui-table-view mui-table-view-chevron mui-scroll">
									<div class="noConent" v-if="!isL2_02HasConent">
										<h4>暂时没有任务</h4>
									</div>
									<li class="mui-table-view-cell mui-media" v-for="item in list0202" v-if="isL2_02HasConent">
										<a class="mui-navigate-right card">
											<h4 class="mui-ellipsis">{{item.content}}</h4>
											<h6>截止至 {{item.expiretime}}</h6>
											<div>
												<img id="head-img" class="mui-media-object mui-pull-left 
										head-img" src="images/touxiangdefault.png">
												<div class="mui-media-body">
													<h5>
													{{item.uid}}
												</h5>
													<h6 class='mui-ellipsis'>发布于{{item.crttime}}</h6>
												</div>

												<div class="pay">
													<span>赏金：</span>
													<i>{{item.price}}金币</i>
												</div>
											</div>
										</a>
									</li>

								</ul>
							</div>

						</div>

					</div>
				</div>
			</div>
		</div>
		<script src="js/mui.min.js"></script>
		<script src="js/common.js"></script>
		<script src="js/vue.min.js"></script>
		<script src="js/wode-assigment.js"></script>
		<script type="text/javascript">
			mui.init({

			});
		</script>
	</body>

</html>