<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>jieyou.servlet.LoginServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RegisterServlet</servlet-name>
		<servlet-class>jieyou.servlet.RegisterServlet</servlet-class>
		<async-supported>true</async-supported>
	</servlet>
	<servlet>
		<servlet-name>TestServlet</servlet-name>
		<servlet-class>jieyou.servlet.TestServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>TaskAction</servlet-name>
		<servlet-class>jieyou.servlet.TaskAction</servlet-class>
		<async-supported>true</async-supported>
	</servlet>
	<servlet>
		<servlet-name>MsgAction</servlet-name>
		<servlet-class>jieyou.servlet.MsgAction</servlet-class>
		<async-supported>true</async-supported>
	</servlet>
	<servlet>
		<servlet-name>UserAction</servlet-name>
		<servlet-class>jieyou.servlet.UserAction</servlet-class>
		<async-supported>true</async-supported>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/doLogin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RegisterServlet</servlet-name>
		<url-pattern>/doRegister</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TestServlet</servlet-name>
		<url-pattern>/test</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TaskAction</servlet-name>
		<url-pattern>/task</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MsgAction</servlet-name>
		<url-pattern>/msg</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserAction</servlet-name>
		<url-pattern>/user</url-pattern>
	</servlet-mapping>
	
	<listener>  
    <listener-class>jieyou.servlet.com.SessionListener</listener-class>  
</listener> 
</web-app>